@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Flight Manager</h1>
    <p>Manage all your flights and easily obtain information such as distance, duration, and fuel required.</p>
    <img alt="logo" src="images/logo.png" />
</div>